{% extends 'blank_form.html' %}
{% load tags %}

{#<div style="height: 10000px; "></div>#}

{% block form_tag %}<form method="post" action="{% url 'addProject' %}" enctype="multipart/form-data">{% endblock %}


{% block form_content %}
    {% for fc in form_content %}
        <div class="form-group">
            <label for="{{ fc.property.id }}">{{ fc.label }}</label>
            <{{ fc.tag }}
                {% for p in fc.property %}
                    {{ p }}="{% getValue fc.property p %}"
                {% endfor %}            >
            {% if fc.tag != 'input' %}</{{ fc.tag }}>{% endif %}
        </div>
    {% endfor %}

{% endblock %}


{% block form_close_tag %}</form>{% endblock %}

