
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">项目储备</h4>
                </div>
                <div class="card-body">
                    <form id="expire_filter" action="{% url 'viewProjectSummary' %}" target="_blank" method="get">
                        <div class="form-body">
                            <h4 class="box-title">动作：</h4>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-9">
                                    <div class="demo-radio-button">
                                        <input name="action" id="action_summary" type="radio" value="1" class="radio-col-light-blue" onchange="turnDateSelector(this)" checked>
                                        <label for="action_summary">汇总</label>
                                        <input name="action" id="action_detail" type="radio" value="2" class="radio-col-light-blue" onchange="turnDateSelector(this)">
                                        <label for="action_detail">详情</label>
                                        <input name="action" id="action_download" type="radio" value="3" class="radio-col-light-blue" onchange="turnDateSelector(this)">
                                        <label for="action_download">下载</label>
                                        <input name="action" id="action_edit" type="radio" value="4" class="radio-col-light-blue" onchange="turnDateSelector(this)">
                                        <label for="action_edit">编辑</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="date_between">
                            <h4 class="box-title">起止日期：</h4>
                            <div class="row p-t-10" style="">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <input type="date" class="form-control" placeholder="yyyy/mm/dd" name="start_date" value="{{ start_date }}">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <input type="date" class="form-control" placeholder="yyyy/mm/dd" name="end_date" value="{{ end_date }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-t-10">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>确认</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="project_overview" class="card-body">

                </div>
            </div>
        </div>
    </div>
