{% extends 'blank.html' %}
{% load tags %}



{% block extra_css %}


{% endblock %}



{% block navbar_before_ul %}
    <button class="btn btn-dribbble waves-effect btn-rounded waves-light col-lg-2" type="button">{{ start_date }}→{{ end_date }}</button>

{% endblock %}



{% block navbar_after_ul %}
    <button class="btn waves-effect waves-light btn-success"><i class="mdi mdi-target"></i><a href="{% url 'addProject' %}" target="_blank" style="color: white">新增</a></button>
    <button class="btn waves-effect waves-light btn-danger" onclick=""><i class="mdi mdi-bomb"></i>删除</button>
    <button class="btn waves-effect waves-light btn-warning" onclick="editProject()"><i class="mdi mdi-grease-pencil"></i>修改</button>
    <button class="btn waves-effect waves-light btn-info" onclick=""><i class="mdi mdi-code-braces"></i>详情</button>

{% endblock %}



{% block content %}


{% endblock %}



{% block extra_js %}
    <script src="/static/js/jquery.slimscroll.js"></script>
    <script src="/static/myjs/formOperation.js"></script>
    <script src="/static/myjs/common.js"></script>
    <script type="text/javascript">
        $(function(){
            buildProjectList();
            renderProjectList();
            $('#extra_function').append($('#business_selector'));

        });

        function buildProjectList(){
            $.post({
                url: '{% url "viewProjectList" %}',
                async: false,
                data: {start_date: '{{ start_date }}', end_date: '{{ end_date }}'},
                dataType: 'text',
                success: function(response){
                    $('#main_content').html(response);
                }
            });
        }

        function renderProjectList(){
            $('td[yr_card]').each(function(index, elem){
                let yr_card = Number(elem.getAttribute('yr_card'));
                if(yr_card === 1){
                    $(elem).addClass('text-warning text-semibold');
                }else if(yr_card > 1){
                    $(elem).addClass('text-danger text-semibold');
                }
            });

            $('td[project_id]').each(function(index, elem){
                let projectId = elem.getAttribute('project_id');
                let $radio = $(
                    '<div style="width: 0; height: 0;">' +
                        '<input type="radio" id="project_' + projectId + '" project_id="' + projectId + '" name="project_id">' +
                        '<label for="project_' + projectId + '" class=""></label>' +
                    '</div>'
                );
                elem.innerText = '';
                elem.append($radio[0]);
            });

            $('td[status_num]').each(function(index, elem){
                let pro_text = elem.innerHTML;
                elem.innerHTML = '';
                let status_num = Number(elem.getAttribute('status_num'));
                let container = document.createElement('div');
                let textArea = document.createElement('div');
                let text = document.createElement('h5');
                let progressBar = document.createElement('div');
                container.className = 'progress progressBar-xs margin-vertical-10';
                textArea.style = 'position: absolute;';
                text.style = 'color: black; line-height: 20px; margin: 1px;';
                let width;
                if(status_num <= 100){
                    width = status_num + '%';
                    text.innerText = pro_text;
                    if(status_num < 50){
                        progressBar.className = 'progress-bar bg-danger active progress-bar-striped';
                    }else if(status_num < 100){
                        progressBar.className = 'progress-bar bg-warning active progress-bar-striped';
                    }else {
                        progressBar.className = 'progress-bar bg-success active progress-bar-striped';
                    }

                }else{
                    let totalNet = Number($('td[total_net]')[index].getAttribute('total_net'));
                    let existingNet = Number($('td[existing_net]')[index].getAttribute('existing_net'));
                    let newNetUsed = Number($('td[new_net_used]')[index].getAttribute('new_net_used'));
                    newNetUsed = newNetUsed >= 0 ? newNetUsed : 0;
                    let newNet = totalNet - existingNet;
                    width = String((100 * newNetUsed / newNet).toFixed(2)) + '%';
                    progressBar.className = 'progress-bar bg-info active progress-bar-striped';
                    text.innerText = width;
                }
                progressBar.style = 'width:' + width + '; height:20px;';
                textArea.appendChild(text);
                container.appendChild(textArea);
                container.appendChild(progressBar);
                elem.appendChild(container);
            });
        }

        function judgeSelectedProject(){
            let input = $('input[project_id]');
            for(let i=0; i<input.length; i++){
                if(input[i].checked){
                    return input[i].getAttribute('project_id');
                }
            }
        }


        function showProjectAddForm(){
            makeForm('addProject', {}, 618, 1000, 'project_adder');
            $('#project_adder').slimScroll({
                height: '2000px'
            });
            showForm('project_adder_container', 1);
        }


    </script>
{% endblock %}