
    <script type="text/javascript">
        $(function () {
            document.getElementById('id_customer').setAttribute('oninput', 'searchCustomer(this)');
            document.getElementById('id_staff').setAttribute('oninput', 'searchStaff(this)');
            addSatelliteButtonForInput('id_customer', [{icon: 'mdi mdi-plus', title: '新增客户', onclick: 'addCustomer()'}]);
        });

        function searchCustomer(elem) {
            let value = elem.value;
            let customer = getCnChars(value);
            try{
                if(customer.length > 1){
                    makeDataList('customer_list', 'ajaxCustomer', {customerName: customer});
                }
            }catch (e) {

            }
        }


        function searchStaff(elem){
            let value = elem.value;
            let staff = getCnChars(value);
            try{
                if(staff.length){
                    makeDataList('staff_list', 'ajaxStaff', {staffName: staff});
                }
            }catch (e) {

            }
        }

        function addCustomer(){
            window.open('{% url "addCustomer" %}');
        }

    </script>
