
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">项目储备</h4>
                </div>
                <div class="card-body">
                    <form id="expire_filter" action="{% url 'viewProjectSummary' %}" target="_blank" method="get">
                        <div class="form-group row">
                            <div class="col-md-1">
                            </div>
                            <label for="start_date" class="col-md-1 col-form-label">起始日期</label>
                            <div class="col-md-2">
                                <input class="form-control" type="date" value="{{ start_date }}" id="start_date" name="start_date">
                            </div>
                            <div class="col-md-1">
                            </div>
                            <label for="end_date" class="col-md-1 col-form-label">截至日期</label>
                            <div class="col-md-2">
                                <input class="form-control" type="date" value="{{ end_date }}" id="end_date" name="end_date">
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>确认</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="project_overview" class="card-body">

                </div>
            </div>
        </div>
    </div>
