{% extends 'blank.html' %}
{% load tags %}



{% block extra_css %}


{% endblock %}



{% block navbar_before_ul %}
    <button class="btn btn-dribbble waves-effect btn-rounded waves-light col-lg-2" type="button">{{ start_date }}→{{ end_date }}</button>

{% endblock %}



{% block navbar_after_ul %}
    <div class="btn-group">
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">业务品种</button>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0; left: 0; will-change: transform;">
            {% for b in business_list %}
                <a class="dropdown-item" href="#business_{{ b.id }}_title">{{ b.caption }}</a>
            {% endfor %}
{#            <a class="dropdown-item" href="#">Action</a>#}
{#            <a class="dropdown-item" href="#">Another action</a>#}
{#            <a class="dropdown-item" href="#">Something else here</a>#}
{#            <div class="dropdown-divider"></div>#}
{#            <a class="dropdown-item" href="#">Separated link</a>#}
        </div>
    </div>
{% endblock %}



{% block content %}


{% endblock %}



{% block extra_js %}
    <script type="text/javascript">
        $(function(){
            buildProjectList();
            renderProjectList();
        });

        function buildProjectList(){
            $.post({
                url: '{% url "viewProjectList" %}',
                async: false,
                data: {start_date: '{{ start_date }}', end_date: '{{ end_date }}'},
                dataType: 'text',
                success: function(response){
                    $('#main_content').html(response);
                }
            });
        }

        function renderProjectList(){
            $('td[yr_card]').each(function(index, elem){
                let yr_card = Number(elem.getAttribute('yr_card'));
                if(yr_card === 1){
                    $(elem).addClass('text-warning text-semibold')
                }else if(yr_card > 1){
                    $(elem).addClass('text-danger text-semibold')
                }
            });
            $('td[status_num]').each(function(index, elem){
                let pro_text = elem.innerHTML;
                elem.innerHTML = '';
                let status_num = Number(elem.getAttribute('status_num'));
                let container = document.createElement('div');
                let textArea = document.createElement('div');
                let text = document.createElement('h5');
                let progressBar = document.createElement('div');
                container.className = 'progress progressBar-xs margin-vertical-10';
                textArea.style = 'position: absolute;';
                text.style = 'color: black; line-height: 20px;';
                let width;
                if(status_num <= 100){
                    width = status_num + '%';
                    text.innerText = pro_text;
                    if(status_num < 50){
                        progressBar.className = 'progress-bar bg-danger active progress-bar-striped';
                    }else if(status_num < 100){
                        progressBar.className = 'progress-bar bg-warning active progress-bar-striped';
                    }else {
                        progressBar.className = 'progress-bar bg-success active progress-bar-striped';
                    }

                }else{
                    let totalNet = Number($('td[total_net]')[index].getAttribute('total_net'));
                    let existingNet = Number($('td[existing_net]')[index].getAttribute('existing_net'));
                    let newNetUsed = Number($('td[new_net_used]')[index].getAttribute('new_net_used'));
                    newNetUsed = newNetUsed >= 0 ? newNetUsed : 0;
                    let newNet = totalNet - existingNet;
                    width = String((100 * newNetUsed / newNet).toFixed(2)) + '%';
                    progressBar.className = 'progress-bar bg-info active progress-bar-striped';
                    text.innerText = width;
                }
                progressBar.style = 'width:' + width + '; height:20px;';
                textArea.appendChild(text);
                container.appendChild(textArea);
                container.appendChild(progressBar);
                elem.appendChild(container);
            });
        }
    </script>
{% endblock %}