{% extends 'blank.html' %}




{% block extra_css %}
    <link href="/static/mycss.css" rel="stylesheet">
{% endblock %}



{% block content %}


{% endblock %}



{% block extra_js %}
    <script type="text/javascript" src="/static/myjs/common.js"></script>
    <script type="text/javascript">
        DATA = {};

        function getProjectSummaryData(){
            $.post({
                url: "{% url 'viewProjectSummary' %}",
                data: JSON.parse($('#opener_params')[0].value),
                async: false,
                dataType: 'JSON',
                success: function(response) {
                    DATA = response;
                }
            });
        }

        function buildProjectSummaryTable(){
            let dept = [];
            for(let i in DATA.department){
                dept.push(DATA.department[i][1]);
            }
            $('#project_summary_table').remove();
            let fragment = document.createDocumentFragment();
            let t = buildTableStructure(
                $.extend({}, {'部门': []}, DATA.table_col), dept, 'project_summary',
                'table full-color-table full-dark-table hover-table',
                {
                    'th':
                        {
                            'style': 'border: 1px solid gray; text-align: center; vertical-align: middle; cursor:pointer;',
                            'onclick': 'clickTableArea(event, this)',
                            'width': '5%'
                        },
                    'td':
                        {
                            'style': 'border: 1px solid gray; text-align: center; vertical-align: middle; cursor:pointer;',
                            'onclick': 'clickTableArea(event, this)'
                    }
                },
                true
            );
            let table = t.table,
                colNum = t.colNum;
            let summaryRowValue = [];
            for(let i=0; i<colNum-1; i++){
                summaryRowValue.push(0);
            }
            for(let i=0; i<DATA.rows.length; i++){
                for(let j=0; j<DATA.rows[i].length; j++){
                    summaryRowValue[j] += DATA.rows[i][j];
                }
            }
            fragment.appendChild(table);
            document.getElementById('main_content').appendChild(fragment);
            {#let thCells = document.getElementById('project_summary').getElementsByTagName('thead')[0].getElementsByTagName('tr')[1].getElementsByTagName('th');#}
            DATA.rows.push(summaryRowValue);
            fillTable('project_summary', DATA.rows);
            let date_btn = document.createElement('button');
            date_btn.className = 'btn btn-dribbble waves-effect btn-rounded waves-light col-lg-2';
            date_btn.type = 'button';
            {#date_btn.setAttribute('onclick', 'showHelp()');#}
            date = JSON.parse($('#opener_params')[0].value);
            date_btn.innerHTML = date.start_date + '→' + date.end_date;
            $('#topbar nav div:first').before(date_btn);
        }

        function clickTableArea(eve,ele){
            console.log(eve);
            console.log(ele);
        }

        $(function () {
            getProjectSummaryData();
            buildProjectSummaryTable();
            lockThead('main_content', 'project_summary');

        });
    </script>
{% endblock %}