{% extends 'blank.html' %}




{% block extra_css %}

{% endblock %}



{% block content %}


{% endblock %}



{% block extra_js %}
    <script type="text/javascript" src="/static/myjs/common.js"></script>
    <script type="text/javascript">
        DATA = {};

        function getProjectSummaryData(){
            $.post({
                url: "{% url 'viewProjectSummary' %}",
                data: JSON.parse($('#opener_params')[0].value),
                async: false,
                dataType: 'JSON',
                success: function(response) {
                    DATA = response;
                }
            });
        }

        function buildProjectSummaryTable(){
            let dept = [];
            for(let i in DATA.department){
                dept.push(DATA.department[i][1]);
            }
            $('#project_summary_table').remove();
            let fragment = document.createDocumentFragment();
            let t = buildTableStructure(
                $.extend({}, {'部门': []}, DATA.table_col), dept, 'project_summary',
                'table full-color-table full-dark-table table-sm table-hover table-bordered',
                {'th': 'border: 1px solid white; text-align: center; vertical-align: middle;', 'td': 'border: 1px solid white; text-align: center;'},
                true
            );
            let table = t[0],
                colNum = t[1];
            let summaryRowValue = [];
            for(let i=0; i<colNum-1; i++){
                summaryRowValue.push(0);
            }
            for(let i=0; i<DATA.rows.length; i++){
                for(let j=0; j<DATA.rows[i].length; j++){
                    summaryRowValue[j] += DATA.rows[i][j];
                }
            }
            fragment.appendChild(table);
            document.getElementById('main_content').appendChild(fragment);
            DATA.rows.push(summaryRowValue);
            fillTable('project_summary', DATA.rows);
        }



        $(function () {
            getProjectSummaryData();
            buildProjectSummaryTable();
        });
    </script>
{% endblock %}