{% extends 'blank.html' %}
{% load tags %}


{% block extra_css %}
    <link href="/static/mycss.css" rel="stylesheet">
{% endblock %}


{% block navbar_after_ul %}
{#    <button class="btn waves-effect waves-light btn-success"><i class="mdi mdi-target"></i><a href="" target="_blank" style="color: white">新增</a></button>#}
{#    <button class="btn waves-effect waves-light btn-danger" onclick="delProject()"><i class="mdi mdi-bomb"></i>删除</button>#}
{#    <button class="btn waves-effect waves-light btn-warning" onclick="editProjectExe()"><i class="mdi mdi-grease-pencil"></i>修改</button>#}
{#    <button class="btn waves-effect waves-light btn-info" onclick=""><i class="mdi mdi-code-braces"></i>详情</button>#}
{#    <button class="btn waves-effect waves-light btn-danger" title="设为已落地或放弃项目" onclick="delProject()"><i class="mdi mdi-bomb"></i>终止跟进</button>#}
{% endblock %}


{% block extra_js %}
    <script src="/static/myjs/common.js"></script>
    <script>
        $(function(){
            refreshData();
        });

        function refreshData(){
            buildList();
            renderList();
            lockThead('main_content');
        }

        function buildList(){
            let postData = getDictFromPageLocation();
            $.post({
                url: '{% url "showPreMeetingList" %}',
                data: postData,
                dataType: 'json',
                async:false,
                success: function(response){
                    let tableCol = response[0],
                        tableColOrder = response[1],
                        dataList = response[2];
                    let table = makeListHtml(tableCol, tableColOrder, dataList);
                    $('#main_content').html(table);
                }
            });
        }

        function renderList() {
            $('td[row_num]').each(function(index, elem){
                this.innerText = index + 1;
            });
            let customerName = getDictFromPageLocation()['customer_name'];
            if(customerName){

            }else {
                $('td[doc_list]').each(function(index, elem){
                    $(this).addClass('text-nowrap');
                    let docListData = JSON.parse(this.getAttribute('doc_list')),
                        choice = JSON.parse(this.getAttribute('result_choice')),
                        docNum = docListData.length;
                    let docListHtml = '<a data-toggle="tooltip" meeting_id="' + this.getAttribute('meeting_id') + '" title="' + String(docNum) + '个项目"><i class="mdi mdi-gavel m-r-10" style="color: white; cursor: pointer"></i></a>';
                    for(let i=0; i<docNum; i++){
                        let docId = docListData[i]['pretrialdocument'],
                            dept = docListData[i]['pretrialdocument__department__caption'],
                            customer = docListData[i]['pretrialdocument__document_name'] ? docListData[i]['pretrialdocument__document_name'].split(' - ')[1] : '',
                            resultNum = Number(docListData[i]['pretrialdocument__result']),
                            resultStr = choice[resultNum],
                            icon = '';
                        if(resultNum <= 10){
                            icon = '<i class="mdi mdi-help-circle text-muted m-r-10"></i>';
                        }else if(resultNum < 20){
                            icon = '<i class="mdi mdi-star-half text-success m-r-10"></i>';
                        }else if(resultNum < 30){
                            icon = '<i class="mdi mdi-star text-success m-r-10"></i>';
                        }else if(resultNum < 40){
                            icon = '<i class="mdi mdi-star-outline text-warning m-r-10"></i>';
                        }else {
                            icon = '<i class="mdi mdi-star-off text-danger m-r-10"></i>';
                        }
                        docListHtml += '<a doc_id="' + docId + '" title="' + dept + ' - ' + customer + ' - ' + resultStr + '" style="cursor: pointer" onclick="showPreDoc(this)">' + icon + '</a>';
                    }
                    this.innerHTML = docListHtml;
                });
            }
        }

        function showPreDoc(elem){
            let preDocId = Number(elem.getAttribute('doc_id'));
            if(preDocId){
                $.post({
                    url: '{% url "showPreDoc" %}',
                    data: {preDocId: preDocId},
                    dataType: 'json',
                    success: function(response){
                        openSmallFile([response]);
                    }
                });
            }
        }

    </script>

{% endblock %}