{% extends 'blank.html' %}
{% load tags %}


{% block extra_css %}
    <link href="/static/mycss.css" rel="stylesheet">
{% endblock %}


{% block navbar_after_ul %}
{#    <button class="btn waves-effect waves-light btn-success"><i class="mdi mdi-target"></i><a href="" target="_blank" style="color: white">新增</a></button>#}
{#    <button class="btn waves-effect waves-light btn-danger" onclick="delProject()"><i class="mdi mdi-bomb"></i>删除</button>#}
{#    <button class="btn waves-effect waves-light btn-warning" onclick="editProjectExe()"><i class="mdi mdi-grease-pencil"></i>修改</button>#}
{#    <button class="btn waves-effect waves-light btn-info" onclick=""><i class="mdi mdi-code-braces"></i>详情</button>#}
{#    <button class="btn waves-effect waves-light btn-danger" title="设为已落地或放弃项目" onclick="delProject()"><i class="mdi mdi-bomb"></i>终止跟进</button>#}
{% endblock %}


{% block extra_js %}
    <script src="/static/myjs/common.js"></script>
    <script>
        $(function(){
            refreshData();
        });

        function refreshData(){
            buildList();
            renderExeList();
            lockThead('main_content');
        }

        function buildList(){

        }

        function renderExeList() {

        }


    </script>

{% endblock %}