{% extends 'blank.html' %}
{% load tags %}


{% block extra_css %}
    <link href="/static/mycss.css" rel="stylesheet">
{% endblock %}


{% block navbar_after_ul %}
{#    <button class="btn waves-effect waves-light btn-success"><i class="mdi mdi-target"></i><a href="" target="_blank" style="color: white">新增</a></button>#}
{#    <button class="btn waves-effect waves-light btn-danger" onclick="delProject()"><i class="mdi mdi-bomb"></i>删除</button>#}
{#    <button class="btn waves-effect waves-light btn-warning" onclick="editProjectExe()"><i class="mdi mdi-grease-pencil"></i>修改</button>#}
{#    <button class="btn waves-effect waves-light btn-info" onclick=""><i class="mdi mdi-code-braces"></i>详情</button>#}
{#    <button class="btn waves-effect waves-light btn-danger" title="设为已落地或放弃项目" onclick="delProject()"><i class="mdi mdi-bomb"></i>终止跟进</button>#}
{% endblock %}


{% block extra_js %}
    <script src="/static/myjs/common.js"></script>
    <script>
        $(function(){
            refreshData();
        });

        function refreshData(){
            buildList();
            renderList();
            lockThead('main_content');
        }

        function buildList(){
            let postData = getDictFromPageLocation();
            $.post({
                url: '{% url "showPreMeetingList" %}',
                data: postData,
                dataType: 'json',
                async:false,
                success: function(response){
                    let tableCol = response[0],
                        tableColOrder = response[1],
                        dataList = response[2];
                    let table = makeListHtml(tableCol, tableColOrder, dataList);
                    $('#main_content').html(table);
                }
            });
        }

        function renderList() {
            $('td[row_num]').each(function(index, elem){
                this.innerText = index + 1;
            });

            $('td[doc_list]').each(function(index, elem){
                let docList = JSON.parse(this.getAttribute('doc_list'));
                console.log(docList);
                for(let i=0; i<docList.length; i++){

                }
            });


        }


    </script>

{% endblock %}