{% extends 'blank.html' %}
{% load staticfiles %}
{% block extra_css %}
<link href="/static/assets/plugins/css-chart/css-chart.css" rel="stylesheet">
{% endblock %}

{% block navbar_after_ul %}
    <button class="btn waves-effect waves-light btn-info" onclick="downloadContributionData()"><i class="mdi mdi-arrow-down-bold"></i>下载</button>
    <div id="dept_selector" class="btn-group">
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">支行</button>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0; left: 0; will-change: transform;">
            {% for d in department_list %}
                <a class="dropdown-item" href="#{{ d.0 }}">{{ d.1 }}</a>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="/static/myjs/common.js"></script>
<script type="text/javascript" src="/static/js/highcharts.js"></script>
<script type="text/javascript" src="{% static 'myjs/contribution_table.js' %}"></script>
<script type="text/javascript">
    var USER_DEPT = "{{ user_dept|default:'' }}";

    function viewCustomerContributionHistory(elem){
        let newWindow = window.open('{% url "viewCustomerContributionHistory" %}');
        newWindow.CUSTOMER_ID = elem.getAttribute('customer_id');
        newWindow.CUSTOMER_NAME = elem.innerText;
    }

    function viewSeriesContribution(elem){
        let customer_trs = elem.nextSibling.getElementsByTagName('tbody')[0].getElementsByTagName('tr'),
            customer_ids = [];
        for(let i=0;i<customer_trs.length;i++){
            let customer_td = customer_trs[i].children[0];
            customer_ids.push(customer_td.getElementsByTagName('a')[0].getAttribute('customer_id'));
        }
        let dept_series = elem.nextSibling.getElementsByTagName('thead')[1].children[0].children[0].innerText.replace('汇总', '');
        let newWindow = window.open('{% url "viewSeriesContributionHistory" %}');
        newWindow.CUSTOMER_IDS = customer_ids;
        newWindow.SERIES_CODE = elem.getAttribute('series_code');
        newWindow.SERIES_CAPTION = elem.innerText;
        newWindow.DEPT_SERIES = dept_series;
    }

    function viewDeptContributionHistory(elem){
        let newWindow = window.open('{% url "viewDepartmentContributionHistory" %}');
        newWindow.DEPT_CODE = elem.getAttribute('dept_code');
    }

    $(function () {
        let help_btn = document.createElement('button');
        help_btn.className = 'btn btn-dribbble waves-effect btn-rounded waves-light col-lg-2';
        help_btn.type = 'button';
        help_btn.setAttribute('onclick', 'showHelp()');
        help_btn.innerHTML = '<i class="fa fa-question">数据日期：{{ data_date }}</i>';
        $('#topbar nav div:first').before(help_btn);
        let filter_condict = OPENER_PARAMS,
            ordered_dept_dict = getOrderedDeptDict(),
            ordered_dept = [];
        for(let i in ordered_dept_dict)
            ordered_dept.push(i);
        buildContribTable(filter_condict, ordered_dept);
        extraSortRule();
        hideOtherDept();
    });

    function showHelp(){
        swal({
            title: '关于【回报率】进度条的说明',
            text: '1、进度条颜色与数值表征存款沉淀率：\n' +
                '\t沉淀率 = 日均存款 ÷ 用信金额（投行项目按1/3折算）\n' +
                '\t进度条红：存款沉淀率0-15%\n' +
                '\t进度条黄：15-30%\n' +
                '\t进度条绿：30-45%\n' +
                '\t进度条蓝：45-60%\n' +
                '\t进度条紫：>60%\n' +
                '2、进度条长度表征综合回报率：\n' +
                '\t综合回报率 = 存款沉淀率 + 利率上浮比例\n' +
                '\t进度条长度封顶为100',
        });
        $('.sweet-alert.showSweetAlert p').css({'text-align': 'left'});
    }

    function extraSortRule(){
        $('[series_code=钟楼经开区]').parent().before($('[series_code=钟楼新城]').parent());
    }

    function hideOtherDept(){
        if(USER_DEPT !== 'JGBS'){
            $('div .card[id^=contribution_]').each(
                function(){
                    if(this.getAttribute('dept') !== USER_DEPT){
                        this.style.display = 'none';
                    }
                }
            )
        }
    }

    function downloadContributionData(){
        let dataDate = OPENER_PARAMS.data_date;
        downloadFileByForm('{% url "downloadContributionData" %}', 'dataDate=' + dataDate, 'get')
    }

</script>

{% endblock %}