{% extends 'blank.html' %}

{% block extra_css %}
<link href="/static/assets/plugins/dropify/dist/css/dropify.min.css" rel="stylesheet">
<link href="/static/mycss.css" rel="stylesheet">
{% endblock %}





{% block content %}
    <div id="expire_editor_div" style="position: fixed; display: none; z-index: 101; margin: auto; left: 350px; right: 350px">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form id="expire_editor" action="{% url 'editExpirePrompt' %}" method="post" enctype="multipart/form-data">
                        <div class="form-body">
                            <h3 id="customer_name" class="card-title"></h3>
                            <hr>
                            <label for="expire_prompt_id"></label>
                            <input id="expire_prompt_id" name="expire_id" type="text" class="form-control" style="display: none;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="dept_selector">经营部门</label>
                                        <select id="dept_selector" name="dept" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="staff_selector">客户经理</label>
                                        <select id="staff_selector" name="staff" class="form-control custom-select" data-placeholder="Choose a Staff" tabindex="1">
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">到期日</label>
                                        <input id="expire_date_selector" name="expire_date" type="date" class="form-control" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="punishment">扣罚金额</label>
                                        <input id="punishment" name="punishment" type="text" class="form-control">
                                        <small class="form-control-feedback">单人扣罚金额（元，整数）</small>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <hr>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <label for="remark">备注</label>
                                        <textarea id="remark" name="remark" class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>情况说明</label>
                                        <input type="file" id="explain" name="explain" class="dropify">
                                    </div>
                                </div>
                            <!--/row-->
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" class="btn btn-success" onclick="edit()"><i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-inverse" onclick="showForm('expire_editor_div', 0)">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}





{% block extra_js %}
    <script src="/static/assets/plugins/dropify/dist/js/dropify.min.js"></script>
{#    <script src="/static/js/jquery.slimscroll.js"></script>#}
{#    <script src="/static/js/custom.min.js"></script>#}
{#    <script src="/static/js/waves.js"></script>#}

    <script src="/static/js/waves.js"></script>
    <script type="text/javascript" src="/static/myjs/common.js"></script>
    <script type="text/javascript" src="/static/myjs/formOperation.js"></script>
    <script>
        $(document).ready(function() {
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function(event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function(event, element) {
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function(event, element) {
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify');
            $('#toggleDropify').on('click', function(e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
    <script type="text/javascript">
        FILTER = {{ filter | safe}};
        MOUSE_PAGE_LOCATION = [0, 0];
        MOUSE_WINDOW_LOCATION = [0, 0];
        EXPIRE_DATA = [];
        DEPARTMENTS = {};
        TABLE_STRUCTURE = [
            tableCol('#', '3%', '【display_num】', {id: '【expire_prompt_id】'}),
            tableCol('客户名称', '18%', '【customer_name】', {customer_id: '【customer_id】'}),
            tableCol('经营部门', '5%', '【dept_caption】', {dept_id: '【dept_id】'}),
            tableCol('经办人员', '5%', [renderStaffName, '【red_card_expire_date】', '【yellow_red_card】', '【staff_id】', '【staff_name】'], {staff_id: '【staff_id】'}),
            tableCol('到期日', '6%', '【expire_date】'),
            FILTER.is_finished.includes("0") ? tableCol('剩余天数', '5%', [colorDays, '【days_remain】']) : tableCol('办结日', '6%',  '【finish_date】'),
            tableCol('备注', '40%', '【remark】'),
            tableCol('扣罚金额', '5%', '【punishment】'),
            tableCol('Action', '5%', '<a data-toggle="tooltip" style="cursor:pointer" title="情况说明" expire_prompt_id=【expire_prompt_id】 onclick="showExplain(this)"><i class="mdi mdi-book-open m-r-10"></i></a>' +
                '<a data-toggle="tooltip" style="cursor:pointer" title="编辑" expire_prompt_id=【expire_prompt_id】 onclick="showEdit(this, event)"><i class="mdi mdi-lead-pencil m-r-10"></i></a>' +
                '<a data-toggle="tooltip" style="cursor:pointer" title="办结" expire_prompt_id=【expire_prompt_id】 onclick="setFinish(this, event)"><i class="fa fa-check m-r-10 m-r-10 text-danger"></i></a>')
        ];

        function tableCol(description, col_width, html_str_of_td, td_extra_property_dict){
            return{
                description: description,
                col_width: col_width,
                html_str_of_td: html_str_of_td,
                td_extra_property_dict: td_extra_property_dict
            }
        }

        function formatString(string, obj){
            let r = /【(\w+)】/g;
            let m = r.exec(string);
            let s = string;
            while (m){
                s = s.replace(m[0], obj[m[1]]);
                m = r.exec(string);
            }
            return s;
        }

        function calculate(formulaString, obj){
            try{
                return eval(formulaString);
            }catch (e){
                return formatString(formulaString, obj);
            }
        }


        function showStaff(elem){
            let staff_id = elem.getAttribute('staff_id');


        }

        function showExplain(elem){
            let expire_prompt_id = elem.getAttribute('expire_prompt_id');
            $.post({
                url: '{% url "viewExpireExplain" %}',
                data: {expire_prompt_id: expire_prompt_id},
                dataType: 'json',
                async: false,
                success: function(data){
                    if(data.success){
                        let file_name = data.data;
                        downloadSmallFile(['/static/'+ file_name]);
                    }else{
                        alert(data.error);
                    }
                }
            });
        }

        function showEdit(elem, e){
            if(FILTER.is_finished.includes('1')){
                alert('已办结，不可编辑');
                return;
            }
            MOUSE_PAGE_LOCATION = getMousePageLocation(e);
            MOUSE_WINDOW_LOCATION = getMouseWindowLocation(e);
            console.log(MOUSE_PAGE_LOCATION);
            $.post({
                url: '{% url "viewExpirePromptTable" %}',
                data: {'expire_id': elem.getAttribute('expire_prompt_id')},
                dataType: 'json',
                async: false,
                success: function(response){
                    console.log(response);
                    let nowEdit = response[0],
                        staff_dict = getStaffDict(nowEdit['dept_id']);
                    $('#expire_editor_div .dropify-clear')[0].click();
                    $('#expire_editor_div .card-title')[0].innerText = nowEdit['customer_name'];
                    $('#expire_prompt_id')[0].value = nowEdit['expire_prompt_id'];
                    $('#expire_date_selector')[0].value = nowEdit['expire_date'];
                    $('#remark')[0].value = nowEdit['remark'];
                    $('#punishment')[0].value = nowEdit['punishment'];
                    addItems('dept_selector', DEPARTMENTS, nowEdit['dept_caption'], 1, getStaffDict2);
                    addItems('staff_selector', staff_dict, nowEdit['staff_name'], 1);
                    showForm('expire_editor_div', 1);
                },
                error: function(){}
            });
        }

        function edit() {
            if(submitByAjax('{% url "editExpirePrompt" %}', 'expire_editor')){
                {#let position = getElemLocation($('#expire_prompt_id')[0].value, 0, '-500');#}
                document.getElementById('expire_table').remove();
                buildExpireTable(FILTER);
                alert('修改成功');
                showForm('expire_editor_div', 0);
                locateScreen(MOUSE_PAGE_LOCATION[1] - MOUSE_WINDOW_LOCATION[1]);
            }
        }

        function setFinish(elem, e){
            if(FILTER.is_finished.includes('1')){
                alert('不可重复办结');
                return;
            }
            MOUSE_PAGE_LOCATION = getMousePageLocation(e);
            MOUSE_WINDOW_LOCATION = getMouseWindowLocation(e);
            if(confirm('确认办结')){
                let expire_prompt_id = elem.getAttribute('expire_prompt_id');
                $.post({
                    url: '{% url "finishExpirePrompt" %}',
                    data: {expire_prompt_id: expire_prompt_id},
                    dataType: 'json',
                    success: function (data) {
                        if(data.success){
                            document.getElementById('expire_table').remove();
                            buildExpireTable(FILTER);
                            locateScreen(MOUSE_PAGE_LOCATION[1] - MOUSE_WINDOW_LOCATION[1]);
                        }else{
                            alert(data.error);
                        }
                    }
                });
            }
        }

        function renderStaffName(args_list){
            // args_list = [red_card_expire_date, yellow_red_card, staff_id, staff_name]
            let color = '',
                yellow_red_card = Number(args_list[1]);
            if(yellow_red_card > 1){
                // 红牌
                if(dateDif(args_list[0]) < 0){
                    // 红牌已经失效
                    resetRedCard(args_list[2]);
                }else{
                    color = 'text-danger text-semibold';
                }
            }else if(yellow_red_card === 1){
                // 黄牌
                color = 'text-warning text-semibold';
            }
            return '<a style="cursor:pointer" class="' + color + '" staff_id="' + args_list[2] + '" onclick="showStaff(this)">' + args_list[3] + '</a>';
        }

        function resetRedCard(staffId){
            $.post({
                url: '{% url "resetRedCard" %}',
                data: {staff_id: staffId},
                dataType:'json',
                success: function(response){
                    if(!response.success){
                        alert(response.error);
                    }
                }
            });
        }

        function colorDays(days){
            let red = 0,
                green = 0,
                blue = 0,
                color = '';
            if(days <= 30)
                color = '"text-danger text-semibold"';
            else if(days <= 60)
                color = '"text-warning text-semibold"';
            else
                color = '"text-success text-semibold"';
            return '<span class=' + color + '><i class=' + ' aria-hidden="true"></i>' + days + '</span>';
        }

        function getPropertyFromElemArray(propertyName, elemArray){
            for(let i=0; i<elemArray.length; i++){
                if(elemArray[i].getAttribute(propertyName))
                    return elemArray[i].getAttribute(propertyName);
            }
        }

        $(function(){
            buildExpireTable(FILTER);
            DEPARTMENTS = getOrderedDeptDict();
        });

        function buildExpireTable(postData){
            let fragment = document.createDocumentFragment(),
                table = document.createElement('table');
            $.post({
                url: '{% url "viewExpirePromptTable" %}',
                dataType: 'json',
                data: postData,
                async: false,
                success: function(data){
                    EXPIRE_DATA = data;
                    table.id = 'expire_table';
                    table.className = 'table full-color-table full-dark-table hover-table';
                    let thead = document.createElement('thead'),
                        thead_row = document.createElement('tr'),
                        tbody = document.createElement('tbody');
                    for(let i=0; i<TABLE_STRUCTURE.length; i++){
                        let th = document.createElement('th');
                        th.setAttribute('width', TABLE_STRUCTURE[i]['col_width']);
                        th.innerText = TABLE_STRUCTURE[i]['description'];
                        thead_row.appendChild(th);
                    }
                    thead.appendChild(thead_row);
                    table.appendChild(thead);
                    for(let i=0; i<data.length; i++){
                        {#console.log(data[i]);#}
                        let tr = document.createElement('tr');
                        for(let j=0; j<TABLE_STRUCTURE.length; j++){
                            let td = document.createElement('td'),
                                td_extra_property_dict = TABLE_STRUCTURE[j]['td_extra_property_dict'];
                            if(td_extra_property_dict){
                                for(let k in td_extra_property_dict)
                                    td.setAttribute(k, calculate(td_extra_property_dict[k], data[i]));
                            }
                            let display = TABLE_STRUCTURE[j]['html_str_of_td'];
                            if(typeof display === 'object'){
                                let func = display[0];
                                if(display.length <= 2){
                                    td.innerHTML = func(calculate(display[1], data[i]));
                                }else{
                                    let args_list = [];
                                    for(let n=1; n<display.length; n++){
                                        args_list.push(calculate(display[n], data[i]))
                                    }
                                    td.innerHTML = func(args_list);
                                }
                            }
                            else
                                td.innerHTML = calculate(TABLE_STRUCTURE[j]['html_str_of_td'], data[i]);
                            tr.appendChild(td);
                        }
                        tbody.appendChild(tr);
                    }
                    table.appendChild(tbody);
                    fragment.appendChild(table);
                    document.getElementById('main_content').appendChild(fragment);
                    lockThead('main_content', 'expire_table');
                }
            });
        }

        function getStaffDict2(elem){
            let deptCode = elem.selectedOptions[0].getAttribute('value'),
                staffDict = getStaffDict(deptCode);
            addItems('staff_selector', staffDict, '', 1);
        }

    </script>
{% endblock %}