{% extends 'blank.html' %}
{% load tags %}


{% block extra_css %}
    <link href="/static/mycss.css" rel="stylesheet">
    <link href="/static/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block navbar_after_ul %}
    <button class="btn waves-effect waves-light btn-info" onclick=""><i class="mdi mdi-arrow-down-bold"></i>下载</button>
{% endblock %}


{% block extra_js %}
    <script src="/static/assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
{#    <script src="/static/assets/plugins/dropify/dist/js/dropify.min.js"></script>#}
    <script src="/static/js/waves.js"></script>
    <script type="text/javascript" src="/static/myjs/common.js"></script>
    <script type="text/javascript" src="/static/myjs/formOperation.js"></script>
    <script type="text/javascript">
        FILTER = {{ filter | safe}};
        TODAY = '{% now "Y-m-d" %}';
        $(function(){
            refreshData();
        });

        function refreshData(){
            buildExpireList();
            lockThead('main_content');
            renderExpireList();
        }

        function buildExpireList(){
            $.post({
                url: '{% url "viewExpirePromptTable" %}',
                data: FILTER,
                dataType: 'json',
                async: false,
                success: function(response){
                    let tableCol = response[0],
                        tableColOrder = response[1],
                        dataList = response[2];
                    let table = makeListHtml(tableCol, tableColOrder, dataList);
                    $('#main_content').html(table);

                }
            })
        }

        function renderExpireList(){
            {#$('table')[0].className = 'full-color-table full-inverse-table hover-table';#}
            $('td[yr_card]').each(function(index, elem){
                let yr_card = Number(elem.getAttribute('yr_card'));
                if(yr_card === 1){
                    $(elem).addClass('text-warning text-semibold');
                }else if(yr_card > 1){
                    $(elem).addClass('text-danger text-semibold');
                }
            });
            $('td[expire_id]').each(function(index, elem){
                let expireId = this.getAttribute('expire_id');
                this.setAttribute('onclick', 'showExpireEditor(this)');
                $(this).css({
                    'cursor': 'pointer'
                });
                this.innerText = index + 1;
            });
        }

        function judgeExpireId(){
            let $radio = $('input[expire_id]');
            for(let i=0; i<$radio.length; i++){
                if($radio[i].checked){
                    return $radio[i].getAttribute('expire_id');
                }
            }
            alert('请选择一条记录');
        }

        function showExpireEditor(elem){
            if(FILTER.is_finished.includes('1')){
                swal({
                    title: '已办结，不可修改',
                    type: 'error',
                });
                return;
            }
            let pk = elem.getAttribute('expire_id');
            if(!pk){
                return false;
            }
            window.open('{% url "editExpirePrompt" %}' + '?pk=' + pk, '_blank');
        }
    </script>
{% endblock %}