{% extends 'blank.html' %}
{% load tags %}


{% block extra_css %}
    <link href="/static/mycss.css" rel="stylesheet">
    <link href="/static/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block navbar_after_ul %}
    <button class="btn waves-effect waves-light btn-info" onclick="downloadExpireData()"><i class="mdi mdi-arrow-down-bold"></i>下载</button>
{% endblock %}


{% block extra_js %}
    <script src="/static/assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
{#    <script src="/static/assets/plugins/dropify/dist/js/dropify.min.js"></script>#}
    <script src="/static/js/waves.js"></script>
    <script type="text/javascript" src="/static/myjs/common.js"></script>
    <script type="text/javascript" src="/static/myjs/formOperation.js"></script>
    <script type="text/javascript">
        FILTER = {{ filter | safe}};
        TODAY = '{% now "Y-m-d" %}';
        $(function(){
            refreshData();
        });

        function refreshData(){
            buildExpireList();
            renderExpireList();
            lockThead('main_content');
        }

        function buildExpireList(){
            $.post({
                url: '{% url "viewExpirePromptTable" %}',
                data: FILTER,
                dataType: 'json',
                async: false,
                success: function(response){
                    let tableCol = response[0],
                        tableColOrder = response[1],
                        dataList = response[2];
                    let table = makeListHtml(tableCol, tableColOrder, dataList);
                    $('#main_content').html(table);

                }
            });
        }

        function renderExpireList(){
            $('td[yr_card]').each(function(index, elem){
                let yr_card = Number(elem.getAttribute('yr_card'));
                if(yr_card === 1){
                    $(elem).addClass('text-warning text-semibold');
                }else if(yr_card > 1){
                    $(elem).addClass('text-danger text-semibold');
                }
            });
            $('td[expire_id]').each(function(index, elem){
                let expireId = this.getAttribute('expire_id');
                this.setAttribute('onclick', 'showExpireEditor(this)');
                $(this).css({
                    'cursor': 'pointer'
                });
                this.innerText = index + 1;
            });
            if(FILTER.is_finished === '0'){
                {#↓计算剩余天数#}
                $('th:contains("到期日")').after($('<th width="2%">剩余</th>'));
                $('td[expire_date]').each(function(index, elem){
                    let expire_date = elem.innerText;
                    let daysDelta = dateDif(expire_date, TODAY);
                    let textColor = '';
                    if(daysDelta <= 30){
                        textColor = '"text-danger text-semibold"';
                    }else if(daysDelta <= 60){
                        textColor = '"text-warning text-semibold"';
                    }else {
                        textColor = '"text-success text-semibold"';
                    }
                    $(elem).after($('<td class=' + textColor + '>' + daysDelta + '</td>'));
                });
            {#    ↓渲染计划初审及计划批复日期颜色#}
                let text_red = 'text-danger text-semibold',
                    text_yellow = 'text-warning text-semibold';
                $plan_chushen_td = $('td[plan_chushen]');
                $plan_reply_td = $('td[plan_reply]');
                $('td[status_num]').each(function(index, elem){
                   let status_num = Number(elem.getAttribute('status_num'));
                   if(status_num){
                       if(status_num < 40){
                           // 仍未初审
                           let plan_chushen = $plan_chushen_td[index].innerText;
                           if(plan_chushen !== 'null'){
                               let dd = dateDif(TODAY, plan_chushen);
                                if(dd >= 0){
                                    $($plan_chushen_td[index]).addClass(text_red);
                                }else if(dd >= -15){
                                    $($plan_chushen_td[index]).addClass(text_yellow);
                                }
                           }
                       }
                       if(status_num < 100){
                           let plan_reply = $plan_reply_td[index].innerText;
                           if(plan_reply !== 'null'){
                               let dd = dateDif(TODAY, plan_reply);
                               if(dd >= 0){
                                   $($plan_reply_td[index]).addClass(text_red);
                               }else if(dd >= -15){
                                   $($plan_reply_td[index]).addClass(text_yellow);
                               }
                           }
                       }
                   }
                });
            }
        }

        function judgeExpireId(){
            let $radio = $('input[expire_id]');
            for(let i=0; i<$radio.length; i++){
                if($radio[i].checked){
                    return $radio[i].getAttribute('expire_id');
                }
            }
            alert('请选择一条记录');
        }

        function showExpireEditor(elem){
            let pk = elem.getAttribute('expire_id');
            if(!pk){
                return false;
            }
            window.open('{% url "editExpirePrompt" %}' + '?pk=' + pk, '_blank');
        }

        function downloadExpireData(){
            downloadFileByForm(location.pathname, location.search.substring(1) + '&download=1');
        }
    </script>
{% endblock %}