
        <div class="row">
            <div class="col-lg-9 col-xlg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h4 class="card-title">分行对公存款总览</h4>
                                <h6 class="card-subtitle">数据日期：{{ data_date }}</h6>
                            </div>
                            <div class="ml-auto align-self-center">
                                <div id="branch_overview_days_selector" class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary" days="360" onclick="drawBranch(this)">360Days</button>
                                    <button type="button" class="btn btn-secondary" days="180" onclick="drawBranch(this)">180Days</button>
                                    <button type="button" class="btn btn-secondary" days="90" onclick="drawBranch(this)">90Days</button>
                                    <button type="button" class="btn btn-secondary" days="30" onclick="drawBranch(this)">30Days</button>
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline m-b-0" id="deposit_lines_legend">
{#                            预置位置，用于放置图例#}
                        </ul>
                        <div>
                            <canvas id="deposit_lines" width="1200px" height="540px">

                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title label label-info">部门日均</h5>
                        <canvas id="department_deposit" height="300" width="450">

                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title label label-info">行业日均</h5>
                        <canvas id="industry_deposit" height="300" width="450">

                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title label label-info">来源日均</h5>
                        <canvas id="customer_type_deposit" height="300" width="450">

                        </canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title label label-info">性质日均</h5>
                        <canvas id="deposit_type_deposit" height="300" width="450">

                        </canvas>
                    </div>
                </div>
            </div>
        </div>