

    <div id="{{ dialog_id|default:'' }}_dialog_container" class="card" style="display: none; position: fixed; z-index: 1000; margin: auto; top: {{ top|default:'8%' }}; left: {{ left|default:'19%' }}; right: {{ right|default:'19%' }}">
        <div id="{{ dialog_id|default:'dialog' }}_header" class="card-header card-outline-info">
            <h3 class="card-title" style="margin: 0 auto; line-height: 50px;">{{ dialog_title|default:'' }}</h3>
        </div>

        <div id="{{ dialog_id|default:'' }}_dialog_body" class="card-body">
            <form target="_blank" id="{{ dialog_id|default:'dialog' }}" method="post" action="{% url action|default:'feedback' %}" enctype="{{ enc_type|default:'multipart/form-data' }}">
                {{ form.as_p }}
            </form>
        </div>
        <div id="{{ dialog_id|default:'' }}_dialog_foot" class="card-body text-right">
            <hr>
            <div class="form-group">
                {% block extra_button %}{% endblock %}
                <button type="submit" class="btn btn-success" onclick="document.getElementById('{{ dialog_id|default:"dialog" }}').submit()"><i class="mdi mdi-check"></i>确认</button>
                <button type="button" class="btn btn-inverse" onclick="unloadModalDialog(this)"><i class="mdi mdi-close"></i>关闭</button>
            </div>
        </div>
    </div>
