{% extends "real_blank.html" %}
{% include "proj_rep/project_form.html" %}

{% block extra_css %}
    <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="{{ form_id }}_container" class="card" style="width: 60%; position: relative; margin-left: 20%; margin-right: 20%; display: None">

        <div id="{{ form_id }}_header" class="card-header card-outline-info">
            <h3 class="card-title" style="margin: 0 auto; line-height: 50px;">{{ form_title }}</h3>
        </div>
        <div id="{{ form_id }}_body" class="card-body">
                <form id="{{ form_id }}" method="post" action="{% url form_action %}" enctype="{{ enc_type }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            {% block form_body %}{% endblock %}
        </div>
        <div id="{{ form_id }}_foot" class="card-body text-right">
            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-success" onclick="document.getElementById('{{ form_id }}').submit()"><i class="mdi mdi-check"></i>确认</button>
                <button type="button" class="btn btn-inverse" onclick="window.close()"><i class="mdi mdi-close"></i>关闭</button>
                {% block form_button %}{% endblock %}

            </div>

        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script src="/static/myjs/formOperation.js"></script>
    <script src="/static/myjs/common.js"></script>

    <script>
        $(function(){
            modifyForm();
            document.getElementById('{{ form_id }}_container').style.display = 'block';
        });

    </script>

    {% if form_js %}
        {% include form_js %}
    {% endif %}

{% endblock %}

{% block extra_js2 %}{% endblock %}
