{% extends 'base.html' %}

<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav active">
            <ul class="in">
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="/dc/overviewbranch.view" aria-expanded="false">
                        <i class=""></i>
                        <span class="hide-menu">全行存款概览</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/dc/overviewbranch.ajax">yyy</a></li>
                        <li><a href="/dc/annotatedeposit.ajax">xxx</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>