{% extends 'blank.html' %}

{% block extra_css %}
<link href="/static/assets/plugins/css-chart/css-chart.css" rel="stylesheet">
{% endblock %}


{% block content %}

{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="/static/myjs/common.js"></script>
<script type="text/javascript" src="/static/js/highcharts.js"></script>
<script type="text/javascript" src="/static/myjs/contribution_table.js"></script>
<script type="text/javascript">

    function viewCustomerContributionHistory(elem){
        let newWindow = window.open('{% url "viewCustomerContributionHistory" %}');
        newWindow.CUSTOMER_ID = elem.getAttribute('customer_id');
        newWindow.CUSTOMER_NAME = elem.innerText;
    }

    function viewSeriesContribution(elem){
        let customer_trs = elem.nextSibling.getElementsByTagName('tbody')[0].getElementsByTagName('tr'),
            customer_ids = [];
        for(let i=0;i<customer_trs.length;i++){
            let customer_td = customer_trs[i].children[0];
            customer_ids.push(customer_td.getElementsByTagName('a')[0].getAttribute('customer_id'));
        }
        let dept_series = elem.nextSibling.getElementsByTagName('thead')[1].children[0].children[0].innerText.replace('汇总', '');
        let newWindow = window.open('{% url "viewSeriesContributionHistory" %}');
        newWindow.CUSTOMER_IDS = customer_ids;
        newWindow.SERIES_CODE = elem.getAttribute('series_code');
        newWindow.SERIES_CAPTION = elem.innerText;
        newWindow.DEPT_SERIES = dept_series;
    }

    function viewDeptContributionHistory(elem){
        let newWindow = window.open('{% url "viewDepartmentContributionHistory" %}');
        newWindow.DEPT_CODE = elem.getAttribute('dept_code');
    }

    $(function () {
        let help_btn = document.createElement('button');
        help_btn.className = 'btn btn-dribbble waves-effect btn-rounded waves-light col-lg-2';
        help_btn.type = 'button';
        help_btn.setAttribute('onclick', 'showHelp()');
        help_btn.innerHTML = '<i class="fa fa-question">数据日期：{{ data_date }}</i>';
        $('#topbar nav div:first').before(help_btn);
        let filter_condict = OPENER_PARAMS,
            ordered_dept_dict = getOrderedDeptDict(),
            ordered_dept = [];
        for(let i in ordered_dept_dict)
            ordered_dept.push(i);
        buildContribTable(filter_condict, ordered_dept);
    });

    function showHelp(){
        alert('关于【回报率】进度条的说明：\n' +
            '1、进度条颜色与数值表征存款沉淀率：\n' +
            '   沉淀率 = 日均存款 ÷ 用信金额（投行项目按1/3折算）\n' +
            '   进度条红：存款沉淀率0-15%\n' +
            '   进度条黄：15-30%\n' +
            '   进度条绿：30-45%\n' +
            '   进度条蓝：45-60%\n' +
            '   进度条紫：>60%\n' +
            '2、进度条长度表征综合回报率：\n' +
            '   综合回报率 = 存款沉淀率 + 利率上浮比例\n' +
            '   进度条长度封顶为100')
    }

</script>

{% endblock %}