{% extends 'blank_modal_dialog.html' %}


{% block extra_button %}
    {% if form.instance.current_progress.status_num < 100 %}
        <button class="btn waves-effect waves-light btn-warning" title="设为已批复" onclick="setProjectReplied();unloadModalDialog(this);"><i class="mdi mdi-message-reply-text"></i>批复</button>
        <button class="btn waves-effect waves-light btn-danger" title="删除项目" onclick=""><i class="mdi mdi-bomb"></i>删除</button>
    {% else %}
        <button class="btn waves-effect waves-light btn-danger" title="完全落地或删除项目" onclick=""><i class="mdi mdi-bomb"></i>取消跟进</button>
    {% endif %}


{% endblock %}

