{% extends 'blank.html' %}


{% block content %}
    <div id="container" style="min-width:400px;height:400px"></div>
{#    <div class="message"></div>#}
{% endblock %}



{% block extra_js %}
<script type="text/javascript" src="/static/js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/static/js/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/static/myjs/drawEcharts.js"></script>
<script type="text/javascript">
    {# CUSTOMER_ID的来龙去脉：父页面中a标签被点击后触发onclick事件，事件进行了以下操作#}
    {# 1、获取a标签包含的客户号 #}
    {# 2、启动路由规则"viewCustomerContributionHistory"，并指定在newWindow中显示路由结果（也就是这个页面） #}
    {# 3、在第二步进行的同时，父页面给newWindow（本页面）开辟了全局变量CUSTOMER_ID并赋值 #}
    $(function(){
        document.head.getElementsByTagName('title')[0].innerText = window.CUSTOMER_NAME;
        drawCustomerDepositHistory('container', {customer_id: window.CUSTOMER_ID});
    });

    function drawCustomerDepositHistory(divId, postDataDict){
        $.post(
            {
                url: '{% url "viewCustomerContributionHistory" %}',
                {#async: false,#}
                data: postDataDict,
                dataType: 'json',
                success: function(data, textStatus, $XHR){
                    for(let i=0; i<data.length; i++){
                        data[i][1] = data[i][1].replace(window.CUSTOMER_NAME, '\u6d3e\u751f\u50a8\u84c4')
                    }
                    let option = prepareOptionForEchatrsCommonLine(data, false, false);
                    option.title = {
                        text: window.CUSTOMER_NAME + '\u5b58\u6b3e\u4f59\u989d\u60c5\u51b5'
                    };
                    console.log(option);
                    let chart = echarts.init(document.getElementById(divId));
                    chart.setOption(option);
                },
                error: function(){alert('error')}
            }
        );
    }

</script>

{% endblock %}