{% extends 'blank.html' %}


{% block extra_js %}
<script type="text/javascript">
    $(function(){
        {# CUSTOMER_ID的来龙去脉：父页面中a标签被点击后触发onclick事件，事件进行了一下操作#}
        {# 1、获取a标签包含的客户号 #}
        {# 2、启动路由规则"viewCustomerContributionHistory"，并指定在newWindow中显示路由结果（也就是这个页面） #}
        {# 3、在第二步进行的同时，父页面给newWindow（本页面）开辟了全局变量CUSTOMER_ID并赋值 #}
        console.log(CUSTOMER_ID);
        $.post(
            {
                url: {% url "viewCustomerContributionHistory" %},
                data: CUSTOMER_ID,
                success: function(data, textStatus, $XHR){

                },
                error: function(){alert('error')},
                dataType: 'json'
            }
        );


    })
</script>

{% endblock %}