{% extends 'blank.html' %}


{% block content %}
    <div id="container" style="min-width:400px;height:800px"></div>

{#    <div class="message"></div>#}
{% endblock %}



{% block extra_js %}
<script type="text/javascript" src="/static/myjs/common.js"></script>
<script type="text/javascript" src="/static/js/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/static/js/echarts/macarons.js"></script>
<script type="text/javascript" src="/static/myjs/drawEcharts.js"></script>
<script type="text/javascript">
    {# CUSTOMER_ID的来龙去脉：父页面中a标签被点击后触发onclick事件，事件进行了以下操作#}
    {# 1、获取a标签包含的客户号 #}
    {# 2、启动路由规则"viewCustomerContributionHistory"，并指定在newWindow中显示路由结果（也就是这个页面） #}
    {# 3、在第二步进行的同时，父页面给newWindow（本页面）开辟了全局变量CUSTOMER_ID并赋值 #}
    $(function(){
        document.head.getElementsByTagName('title')[0].innerText = window.CUSTOMER_NAME;
        drawCustomerDepositAndCreditHistory2('container', {customer_id: window.CUSTOMER_ID});
    });

    function drawCustomerDepositAndCreditHistory(divId, postDataDict){
        let chart = echarts.init(document.getElementById(divId)),
            option = {};
        chart.showLoading();
        $.post({
            url: '{% url "viewCustomerContributionHistory" %}',
            async: false,
            data: postDataDict,
            dataType: 'json',
            success: function(data, textStatus, $XHR){
                for(let i=0; i<data.length; i++)
                    data[i][1] = data[i][1].replace(window.CUSTOMER_NAME, '\u6d3e\u751f\u50a8\u84c4');
                option = prepareOptionForEchatrsCommonLine(data, false, false, 'end');
                option.title = {
                    text: window.CUSTOMER_NAME + '\u5b58\u6b3e\u53ca\u7528\u4fe1\u4f59\u989d',
                    x: 'center',
                    y: 'bottom',
                };
            },
            error: function(){alert('\u83b7\u53d6\u5b58\u6b3e\u6570\u636e\u5931\u8d25');}
        });
        $.post({
            url: '{% url "ajaxCustomerCreditHistory" %}',
            async: false,
            data: postDataDict,
            dataType: 'json',
            success: function(data){
                for(let i=0; i<data.length; i++)
                    data[i][1] = data[i][1].replace(window.CUSTOMER_NAME, '\u7528\u4fe1\u51c0\u989d');
                prepareOptionForEchartsInteractionLine(data, option, 'end');
            chart.hideLoading();
            chart.setOption(option);
        },
            error: function(){alert('\u83b7\u53d6\u7528\u4fe1\u6570\u636e\u5931\u8d25');}
        });
    }

    function drawCustomerDepositAndCreditHistory2(divId, postDataDict){
        let chart = echarts.init(document.getElementById(divId)),
            option = {};
        chart.showLoading();
        $.post({
            url: '{% url "viewCustomerContributionHistory" %}',
            async: false,
            data: postDataDict,
            dataType: 'json',
            success: function(data, textStatus, $XHR){
                for(let i=0; i<data.length; i++)
                    data[i][1] = data[i][1].replace(window.CUSTOMER_NAME, '\u6d3e\u751f\u50a8\u84c4');
                option = prepareBaseDataForEcharts(data);
                option.title = {
                    text: window.CUSTOMER_NAME + '\u5b58\u6b3e\u53ca\u7528\u4fe1\u4f59\u989d',
                    x: 'center',
                    y: 'bottom',
                };
            },
            error: function(){alert('\u83b7\u53d6\u5b58\u6b3e\u6570\u636e\u5931\u8d25');}
        });
        $.post({
            url: '{% url "ajaxCustomerCreditHistory" %}',
            async: false,
            data: postDataDict,
            dataType: 'json',
            success: function(data){
                for(let i=0; i<data.length; i++)
                    data[i][1] = data[i][1].replace(window.CUSTOMER_NAME, '\u7528\u4fe1\u51c0\u989d');
                let option2 = prepareBaseDataForEcharts(data);
                console.log(option2);
                {#prepareOptionForEchartsInteractionLine(data, option, 'end');#}
            chart.hideLoading();
            {#chart.setOption(option);#}
        },
            error: function(){alert('\u83b7\u53d6\u7528\u4fe1\u6570\u636e\u5931\u8d25');}
        });
    }

</script>

{% endblock %}