{% extends 'blank.html' %}

{% block extra_css %}
<link href="/static/assets/plugins/dropify/dist/css/dropify.min.css" rel="stylesheet">
{% endblock %}





{% block content %}
<div class="container-fluid">
    <div id="expire_editor_div" class="row" style="position: fixed; display: none; z-index: 2;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form id="expire_editor" action="{% url 'editExpirePrompt' %}" method="post" enctype="multipart/form-data">
                        <div class="form-body">
                            <h3 id="customer_name" class="card-title"></h3>
                            <hr>
                            <label for="expire_prompt_id"></label>
                            <input id="expire_prompt_id" name="expire_id" type="text" class="form-control" style="display: none;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="dept_selector">经营部门</label>
                                        <select id="dept_selector" name="dept" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="staff_selector">客户经理</label>
                                        <select id="staff_selector" name="staff" class="form-control custom-select" data-placeholder="Choose a Staff" tabindex="1">
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">到期日</label>
                                        <input id="expire_date_selector" name="expire_date" type="date" class="form-control" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="punishment">扣罚金额</label>
                                        <input id="punishment" name="punishment" type="text" class="form-control">
                                        <small class="form-control-feedback">单人扣罚金额（元，整数）</small>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <hr>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <label for="remark">备注</label>
                                        <textarea id="remark" name="remark" class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>情况说明</label>
                                        <input type="file" id="explain" name="explain" class="dropify">
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <div class="form-actions">
                            <button type="button" class="btn btn-success" onclick="edit()"><i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-inverse" onclick="showForm('expire_editor_div', 0)">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}





{% block extra_js %}
    <script src="/static/assets/plugins/dropify/dist/js/dropify.min.js"></script>
{#    <script src="/static/js/jquery.slimscroll.js"></script>#}
{#    <script src="/static/js/custom.min.js"></script>#}
{#    <script src="/static/js/waves.js"></script>#}

    <script src="/static/js/waves.js"></script>
    <script type="text/javascript" src="/static/myjs/common.js"></script>
    <script type="text/javascript" src="/static/myjs/formOperation.js"></script>
    <script>
        $(document).ready(function() {
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function(event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function(event, element) {
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function(event, element) {
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function(e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
    <script type="text/javascript">
        EXPIRE_DATA = [];
        DEPARTMENTS = {};
        TABLE_STRUCTURE = [
            tableCol('#', '3%', '【display_num】', {id: '【display_num】'}),
            tableCol('客户名称', '18%', '【customer_name】', {customer_id: '【customer_id】'}),
            tableCol('经营部门', '6%', '【dept_caption】', {dept_id: '【dept_id】'}),
            tableCol('经办人员', '6%', '<a style="cursor:pointer" staff_id=【staff_id】 onclick="showStaff(this)">【staff_name】</a>', {staff_id: '【staff_id】'}),
            tableCol('到期日', '8%', '【expire_date】'),
            tableCol('剩余天数', '6%', [colorDays, '【days_remain】']),
            tableCol('备注', '40%', '【remark】'),
            tableCol('扣罚金额', '6%', '【punishment】'),
            tableCol('Action', '8%', '<a data-toggle="tooltip" style="cursor:pointer" title="情况说明" expire_prompt_id=【expire_prompt_id】 onclick="showExplain(this)"><i class="mdi mdi-book-open m-r-10"></i></a>' +
                '<a data-toggle="tooltip" style="cursor:pointer" title="编辑" expire_prompt_id=【expire_prompt_id】 onclick="showEdit(this)"><i class="mdi mdi-lead-pencil m-r-10"></i></a>' +
                '<a data-toggle="tooltip" style="cursor:pointer" title="办结" expire_prompt_id=【expire_prompt_id】 onclick="setFinish(this)"><i class="fa fa-check m-r-10 m-r-10 text-danger"></i></a>')
        ];

        function tableCol(description, col_width, html_str_of_td, td_extra_property_dict){
            return{
                description: description,
                col_width: col_width,
                html_str_of_td: html_str_of_td,
                td_extra_property_dict: td_extra_property_dict
            }
        }

        function formatString(string, obj){
            let r = /【(\w+)】/g;
            let m = r.exec(string);
            let s = string;
            while (m){
                s = s.replace(m[0], obj[m[1]]);
                m = r.exec(string);
            }
            return s;
        }

        function calculate(formulaString, obj){
            try{
                return eval(formulaString);
            }catch (e){
                return formatString(formulaString, obj);
            }
        }

        function showForm(formId, status){
            showMask(status);
            document.getElementById(formId).style.display = status ? 'block' : 'none';
        }

        function showStaff(elem){
            staff_id = elem.getAttribute('staff_id');


        }

        function showExplain(elem){
            expire_prompt_id = elem.getAttribute('expire_prompt_id');
            download('{% url "viewExpireExplain" %}' + '?expire_prompt_id=' + expire_prompt_id);
        }

        function showEdit(elem){
            if(FILTER.is_finished.includes('1')){
                alert('已办结，不可编辑');
                return;
            }
            $.post({
                url: '{% url "viewExpirePromptTable" %}',
                data: {'expire_id': elem.getAttribute('expire_prompt_id')},
                dataType: 'json',
                async: false,
                success: function(response){
                    console.log(response);
                    let nowEdit = response[0],
                        staff_dict = getStaffDict(nowEdit['dept_id']);
                    $('#expire_editor_div .card-title')[0].innerText = nowEdit['customer_name'];
                    $('#expire_prompt_id')[0].value = nowEdit['expire_prompt_id'];
                    $('#expire_date_selector')[0].value = nowEdit['expire_date'];
                    $('#remark')[0].value = nowEdit['remark'];
                    $('#punishment')[0].value = nowEdit['punishment'];
                    addItems('dept_selector', DEPARTMENTS, nowEdit['dept_caption'], 1, getStaffDict2);
                    addItems('staff_selector', staff_dict, nowEdit['staff_name'], 1);
                    showForm('expire_editor_div', 1);
                },
                error: function(){}
            });
        }

        function edit() {
            if(submitByAjax('{% url "editExpirePrompt" %}', 'expire_editor')){
                document.getElementById('expire_table').remove();
                buildExpireTable(FILTER);
                alert('修改成功');
                showForm('expire_editor_div', 0);
            }
        }

        function setFinish(elem){
            if(confirm('确认办结')){
                let expire_prompt_id = elem.getAttribute('expire_prompt_id');
                $.post({
                    url: '{% url "finishExpirePrompt" %}',
                    data: {expire_prompt_id: expire_prompt_id},
                    dataType: 'json',
                    success: function (data) {
                        if(data.success){
                            document.getElementById('expire_table').remove();
                            buildExpireTable(FILTER);
                        }else{
                            alert(data.error);
                        }
                    }
                });
            }
        }

        function colorDays(days){
            let red = 0,
                green = 0,
                blue = 0,
                color = '';
            if(days <= 30)
                color = '"text-danger text-semibold"';
            else if(days <= 60)
                color = '"text-warning text-semibold"';
            else
                color = '"text-success text-semibold"';
            return '<span class=' + color + '><i class=' + ' aria-hidden="true"></i>' + days + '</span>';
        }

        function getPropertyFromElemArray(propertyName, elemArray){
            for(let i=0; i<elemArray.length; i++){
                if(elemArray[i].getAttribute(propertyName))
                    return elemArray[i].getAttribute(propertyName);
            }
        }

        $(function(){
            buildExpireTable(FILTER);
            DEPARTMENTS = getOrderedDeptDict();
        });

        function buildExpireTable(postData){
            let fragment = document.createDocumentFragment(),
                table = document.createElement('table');
            $.post({
                url: '{% url "viewExpirePromptTable" %}',
                dataType: 'json',
                data: postData,
                success: function(data){
                    EXPIRE_DATA = data;
                    table.id = 'expire_table';
                    table.className = 'table full-color-table full-dark-table hover-table';
                    let thead = document.createElement('thead'),
                        thead_row = document.createElement('tr'),
                        tbody = document.createElement('tbody');
                    for(let i=0; i<TABLE_STRUCTURE.length; i++){
                        let th = document.createElement('th');
                        th.setAttribute('width', TABLE_STRUCTURE[i]['col_width']);
                        th.innerText = TABLE_STRUCTURE[i]['description'];
                        thead_row.appendChild(th);
                    }
                    thead.appendChild(thead_row);
                    table.appendChild(thead);
                    for(let i=0; i<data.length; i++){
                        {#console.log(data[i]);#}
                        let tr = document.createElement('tr');
                        for(let j=0; j<TABLE_STRUCTURE.length; j++){
                            let td = document.createElement('td'),
                                td_extra_property_dict = TABLE_STRUCTURE[j]['td_extra_property_dict'];
                            if(td_extra_property_dict){
                                for(let k in td_extra_property_dict)
                                    td.setAttribute(k, calculate(td_extra_property_dict[k], data[i]));
                            }
                            let display = TABLE_STRUCTURE[j]['html_str_of_td'];
                            if(typeof display === 'object')
                                td.innerHTML = display[0](calculate(display[1], data[i]));
                            else
                                td.innerHTML = calculate(TABLE_STRUCTURE[j]['html_str_of_td'], data[i]);
                            tr.appendChild(td);
                        }
                        tbody.appendChild(tr);
                    }
                    table.appendChild(tbody);
                    fragment.appendChild(table);
                    document.getElementById('main_content').appendChild(fragment);
                }
            });
        }

        function getStaffDict2(elem){
            let deptCode = elem.selectedOptions[0].getAttribute('value'),
                staffDict = getStaffDict(deptCode);
            addItems('staff_selector', staffDict, '', 1);
        }

    </script>
{% endblock %}