{% extends 'blank.html' %}

{% block content %}
<div id="container_1" style="min-width:400px;height:400px"></div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="/static/myjs/common.js"></script>
<script type="text/javascript" src="/static/js/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/static/myjs/drawEcharts.js"></script>
<script type="text/javascript">
    $(function(){
        drawLine('container_1', {'series_code': window.SERIES_CODE, 'series_caption': window.SERIES_CAPTION});
    });
    function drawLine(divId, postDataDict){
        $.post(
            {
                url: '{% url "viewSeriesContributionHistory" %}',
                data: postDataDict,
                dataType: 'json',
                success: function(data){
                    for(let i=0; i<data.length; i++){
                        if(data[i].length<3){
                            data[i].splice(1, 0, '\u6d3e\u751f\u50a8\u84c4');
                        }
                    }
                    console.log(data);
                    let option = prepareOptionForEchatrsCommonLine(data, true, false);
                    option.title = {
                        text: window.SERIES_CAPTION + '\u5b58\u6b3e\u4f59\u989d\u60c5\u51b5',
                        x: 'center',
                        y: 'bottom',
                    };
                    let chart = echarts.init(document.getElementById(divId));
                    chart.setOption(option);
                },
                error: function(){alert('error')}
            }
        );
    }
</script>
{% endblock %}