{% extends 'blank.html' %}

{% block content %}
<div id="container_1" style="min-width:400px;height:400px"></div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="/static/js/highcharts/highcharts.js"></script>
<script type="text/javascript">
    $(function(){
        drawLine('container_1', {'series_code': window.SERIES_CODE, 'series_caption': window.SERIES_CAPTION});
    });
    function drawLine(divId, postDataDict){
        $.post(
            {
                url: '{% url "viewSeriesContributionHistory" %}',
                data: postDataDict,
                dataType: 'json',
                success: function(){

                },
                error: function(){alert('error')}
            }
        );
    }
</script>
{% endblock %}