
{#    <span style="text-align: "></span>#}
    <script type="text/javascript">
        $(function(){
            document.getElementById('id_customer').setAttribute('onfocus', 'matchAccount()');


        });

        function matchAccount(){
            let customerName = getCnChars(document.getElementById('id_name').value);
            if(customerName.length >= 2){
                $.get({
                    url: '{% url "matchAccount" %}',
                    data: {customerName: customerName},
                    dataType: 'json',
                    async: false,
                    success: function(response){
                        addItems('id_customer', response, null, true, null);
                    }
                });


            }
        }
    </script>
